# intentionnaly masked with ~
*~
~*

# pycharm project
.idea/

# Example ipython notebook checkpoints
*.ipynb_checkpoints/
Untitled.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.cache/
.pytest_cache/

# Sphinx documentation
docs/api/
docs/_build/
docs/index.doctree
*generated

# building
.eggs
*.egg-info
dist/
build/

# macosx
.DS_Store

# pyqtgraph temp
/tools/
/spectrochempy_gui/examples/
/spectrochempy_gui/pyqtgraph/tests/
examples
